*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(248, 196, 51, 0.938);
    position: fixed;
    top: 0;

    width: 100%;
    border-radius: 10px;

    z-index: 1001;
}

header a img{
    height: 3rem;
    width: auto;
    border-radius: 15%;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-right: 1rem;
}

nav ul li a, .nav-links-mobile li a{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

nav ul li a:hover{
    transition: 0.8s;
    color: white;
    /* background-color: #cc5c43; */
    background-color: rgb(206, 88, 10);
}

.mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(248, 196, 51, 0.945);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 100%;
    padding: 0;
    align-items: center;
}

.nav-links-mobile li {
    /* border-bottom: 1px solid #787272; */
    padding-bottom: 1rem;
    width: 90%;
    border-radius: 10px;
}

.nav-links-mobile li:hover{
    transition: 0.9s;
    color: white;
    background-color: rgb(206, 88, 10);
}

.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}

.flex{
    display: flex;
}

@media(max-width:768px){

    html{
        font-size: 12px;
    }

    .nav-links{
        display: none;
    }

    header p{
        display: none;
    }

    .hamburger{
        display: block;
    }
}


.home{
    padding: 10rem;
    height: 50vh;
    background-image: url(https://pbs.twimg.com/media/FuaYUtDaQAAFX-n?format=jpg&name=4096x4096);
    background-position: center;
    background-size: cover;
    
    display: block;
    justify-content: center;
    align-items: center;
}

.home-info{
    text-align: center;
}

.home-info img{
    height: 10rem;
    width: auto;
}

.home-info span p{
    color: white;
    font-weight: 700;
}

.home-info a{
    color: white;
}

.home-info p{
    font-weight: 500;
}

.home-info hr{
    height: 0.2rem;
    width: 30rem;
    margin: 2rem auto;

    /* background-color: rgb(255, 94, 0);   */
    background-color: rgba(75, 144, 247, 0.842);
    border: none;  
}


.about{
    padding: 10rem;
    height: 30vh;
    display: flex;

    align-items: center;

    /* background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/fee55773845205.5c179e8691f91.jpg); */
    background-image: url(https://supercell.com/images/21f696d382b894ed8a35f8718be2d872/bg_gamesocial_brawlstars.4762f735.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .sobre-personagem img{
    height: 18rem;
    width: auto;

    filter: drop-shadow(1px 1px 20px green);

    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}

.about div h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.about div p{
    font-size: 1.5rem;
    color: white;
}

.instalar a img{
    height: 3rem;
    width: auto;
}

.instalar{
    margin: 1rem auto;
}







.news{
    padding: 5rem 10rem 5rem 10rem;
    /* padding: 10rem; */
    height: 100vh;
    background-color: #212529;
    color: white;
}

.title h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    margin: 1.5rem auto;
}

.title img{
    height: 3rem;
    margin-bottom: -5px;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid div{
    text-align: center;
    margin: 1rem auto;
    border: 1px solid black;
}

.grid div img{
    height: 13rem;
    width: 23rem;
}

.grid div p{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
}