*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(248, 196, 51);
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;

    width: 60rem;
    border-radius: 10px;

    z-index: 1001;
}

header a img{
    height: 3rem;
    width: auto;
    border-radius: 15%;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-right: 1rem;
}

nav ul li a{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

nav ul li a:hover{
    transition: 0.8s;
    color: white;
    /* background-color: #cc5c43; */
    background-color: rgb(206, 88, 10);
}



.home{
    padding: 10rem;
    height: 50vh;
    background-image: url(https://pbs.twimg.com/media/FuaYUtDaQAAFX-n?format=jpg&name=4096x4096);
    background-position: center;
    background-size: cover;
    
    display: block;
    justify-content: center;
    align-items: center;
}

.home-info{
    text-align: center;
}

.home-info img{
    height: 10rem;
    width: auto;
}

.home-info span p{
    color: white;
    font-weight: 700;
}

.home-info a{
    color: white;
}

.home-info p{
    font-weight: 500;
}

.home-info hr{
    height: 0.2rem;
    width: 30rem;
    margin: 2rem auto;

    background-color: yellow;  
    border: none;  
}


.about{
    padding: 10rem;
    height: 30vh;
    display: flex;

    align-items: center;

    /* background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/fee55773845205.5c179e8691f91.jpg); */
    background-image: url(https://supercell.com/images/21f696d382b894ed8a35f8718be2d872/bg_gamesocial_brawlstars.4762f735.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .sobre-personagem img{
    height: 18rem;
    width: auto;

    filter: drop-shadow(1px 1px 20px green);
}

.about div h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
}

.about div p{
    font-size: 1.5rem;
    color: white;
}

.instalar a img{
    height: 3rem;
    width: auto;
}

.instalar{
    margin: 1rem auto;
}







.news{
    padding: 10rem;
    height: 50vh;
}

.news h2{
    text-align: center;
}

.title{
    text-align: center;
}

.title img{
    height: 3rem;
    margin-bottom: -5px;
}